streamlit
opencv-python-headless
face_recognition @ git+https://github.com/ravinder2023/dlib_face_recognition.git
tensorflow
keras
pandas
numpy

# Clean re-install without forcing older versions of built-ins
--no-deps
